// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;


// FONT
$default-font-size: 1.6rem;


$color-primary: #05998d;
$color-primary-light: #05d1c0;
$color-primary-dark: #017c73;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-dark: #05365d;

/* Coding Colors */
$color-code-blue: #5ccfe6;
$color-code-red: #f28779;
$color-code-green: #bae67e;
$color-code-brown: #ffa759;
