.education-history {
  &__title {
    margin-bottom: 1rem;
    line-height: 1.4;
    background-color: darken($color-blue-dark, 4%);
    h2 {
      padding-left: 1rem;
      color: $color-white;
    }
  }
  &__details {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    display: grid;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1rem;
    grid-template-areas:
      "year-1 description-1"
      "year-2 description-2"
      "year-3 description-3";
    grid-row-gap: 1.5rem;
    grid-column-gap: 4rem;
    // color: rgb(202, 232, 255);
    color: lighten($color-blue-dark, 70%);
    .details {
      &__year {
        text-align: right;
        .y-1 {
          grid-area: year-1;
        }
        .y-2 {
          grid-area: year-2;
        }
        .y-3 {
          grid-area: year-3;
        }
      }
      &__description {
        text-align: justify;
        .d-1 {
          grid-area: description-1;
        }
        .d-2 {
          grid-area: description-2;
        }
        .d-3 {
          grid-area: description-3;
        }
      }
    }
  }
}

.edu-details {
  margin: 1rem auto;
  color: rgb(202, 232, 255);
  font-size: 0.8rem;
  text-align: left;
}
