

footer {
  @include colored-rectangle(100%, 13rem, #5c0551);
}

footer h1 {
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.icon {
  margin-right: 2rem;
  font-size: 3rem;
  color: white;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.list-inline-item  {
  margin: 0.5rem;
}
footer div.animated {
  display: inline-block;
}

footer ul.social li:hover a i {
  transform: scale(1.2, 1.2);
}

.note {
  display: block;
  background-color: #3c0a36;
  color: white;
  font-size: 0.7rem;
}

.note p {
  padding: 0.3rem 0;
  margin: 0 0 0 0;
}