.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(4, 126, 197, 0.6),
      rgba(2, 74, 116, 0.8)
    ),
    url("bg-images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  display: flex;
  flex-direction: column;
  text-align: center;

  &__photo {
    flex-grow: 3;
    img {
      width: 25rem;
      margin-top: 10rem;
      border-radius: 50%;
      opacity: 1 !important;
      animation: popup 1.5s ease-out forwards;
    }
  }

  &__code-message {
    flex-grow: 2;
    padding-left: 1.5rem;
    font-family: Menlo Regular;
    color: $color-white;
    font-size: 15px;
    line-height: 1.6;
    opacity: 1 !important;
    margin: 0 auto;
    min-width: 320px;
    @include respond(tab-port) {
      font-size: 22px;
      min-width: 430px;
    }
  }

  &__arrow {
    flex-grow: 0;
    height: 4rem;
    .btn-arrow {
      &__icon {
        width: 5rem;
        height: 5rem;
        fill: #fff;
        animation: move-up-down 1.5s ease-in-out infinite;
      }
    }
  }
}

#code-messsage {
  p {
    border-right: 3px solid orange;
    white-space: nowrap;
    overflow: hidden;

    &:nth-child(1) {
      width: 242px;
      animation: type 3s steps(40, end);
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 356px;
      }
    }

    &:nth-child(2) {
      width: 133px;
      opacity: 0;
      animation: type2 2s steps(40, end);
      animation-delay: 3s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 198px;
      }
    }

    &:nth-child(3) {
      width: 219px;
      opacity: 0;
      animation: type2 2.5s steps(40, end);
      animation-delay: 5s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 310px;
      }
    }

    &:nth-child(4) {
      width: 227px;
      opacity: 0;
      animation: type2 2.5s steps(40, end);
      animation-delay: 7.5s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 325px;
      }
    }

    &:nth-child(5) {
      width: 273px;
      opacity: 0;
      animation: type2 2s steps(40, end);
      animation-delay: 10s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 391px;
      }
    }
    &:nth-child(6) {
      width: 218px;
      opacity: 0;
      animation: type2 2s steps(40, end);
      animation-delay: 12s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 312px;
      }
    }

    &:nth-child(7) {
      width: 20px;
      opacity: 0;
      animation: type-end-blink 0.25s steps(20, end),
        blink 0.5s step-end infinite alternate;
      animation-delay: 14s;
      animation-fill-mode: forwards;
      @include respond(tab-port) {
        width: 23px;
      }
    }
  }
}

