.lu-navbar {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 4rem;
  top: 1rem;
  background-color: rgba(2, 74, 116, 0.5);
  animation: grow 1s ease-in-out 1;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__logo:link,
  &__logo:visited {
    line-height: 1;
    // transition: all 0.3s;
  }
  &__logo:hover {
    cursor: pointer;
  }
  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #87b3cd;
    margin-left: 1rem;
    animation: grow 0.5s ease-in 1;
  }

  &__items {
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 12rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: hsl(202, 41%, 67%);
    animation: slide-to-right 0.5s ease-in-out 1;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }

  &__item:link,
  &__item:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(
      120deg,
      transparent,
      transparent 50%,
      #87b3cd 0
    );
    background-size: 265%;
    transition: all 0.4s;
  }
  &__item:hover,
  &__item:active {
    cursor: pointer;
    background-position: 163%;
    color: $color-white;
  }
}
