@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}

@keyframes popup {
  0% {
    border: 0px solid #fff;
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.98);
  }
  100% {
    border: 4px solid #fff;
    transform: scale(1);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(-1.8rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 3px solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 3px solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type-end-blink {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
